

input[type="text"] {
           color:black;
           /*width :600px;*/
           width :900px;
           height: 64px;
            font-size: 20px;
            display:flex; 
           /* padding-left: 10px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;*/
          }
/*input[type="text"]:focus {
            width: 100%;
          }*/
          p{ 
              margin:200px ; 
              /* margin:40px ; */
            } 
        header{ 
          width :1550px;

        }